body {
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 40px;
}

.temas {
	width: 75%; 
    height: 10px; 
    margin-top: 10px; 
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.temas div {
	float: left;
}


.button_tema {
	cursor: pointer;
}

.button_hide {
	cursor: pointer;
	display: none;
}


#medi_ambient {
	background-color: #4CAF50;
	} /* Green */
	
#serveis {
	background-color: #008CBA;
	} /* Blue */ 
	
#socials {
	background-color: #f44336;
	} /* Red */ 
	
#infraestructures {
	background-color: #FFA500;
	} /* Orange */ 

#map {
    width: 75%; 
    height: 400px; 
    margin-top: 10px; 
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#search {
    margin-top: 40px; 
    margin-bottom: 40px;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}
.info-content {
    color: #999;
}

form {
    width: 75%;
    margin: auto;
}
.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}