/* Fitxer CSS per la pàgina home */

/* Navigation bar */

.navbar-default .navbar-nav > li > a:hover {
    color: #469030;
}

.navbar-brand{
    padding-top: 11px;
}

/* ---------------------------------------------- */

/* Titles and body */

.navbar-default .navbar-nav > li > a:hover {
    color: #469030;
}

.navbar-brand{
    padding-top: 11px;
}

@font-face {
    font-family: offside;
    src: url('Offside-font/Offside-Regular.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Offside';
    letter-spacing: 0.06em; 
    margin-bottom: 40px;
}

h3, h4 {
	font-family: 'Montserrat', sans-serif;
	line-height: 30px;
}

.container {
	display: flex;
  	align-items: center;
  	justify-content: center;
    width: 100%;
}

.row div {
  	margin: 0 auto;
  	width: 60%;
}

.bgimg {
    background-image: url('images/background.png');
}

/* ---------------------------------------------- */


/* Botó iniciar petició (guai) */

.button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 75px;
    margin: 0 20px;
    text-shadow: 2px 2px 1px #595959;
    filter: dropshadow(color=#595959, offx=1, offy=1);
    text-decoration: none;
}

.square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.green {
    border: solid 1px #3b7200;
    background-color: #88c72a;
    background: -moz-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -webkit-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -o-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -ms-linear-gradient(top, #88c72a 0% ,#709e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709e0e', endColorstr='#709e0e',GradientType=0 );
    background: linear-gradient(top, #88c72a 0% ,#709e0e 100%);
    -webkit-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
}

.green:hover {
    background-color: #7fb52f;
    background: -moz-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -webkit-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -o-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -ms-linear-gradient(top, #7fb52f 0% ,#67910b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67910b', endColorstr='#67910b',GradientType=0 );
    background: linear-gradient(top, #7fb52f 0% ,#67910b 100%);
}

.green:active {
    background-color: #638f22;
    background: -moz-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -webkit-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -o-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -ms-linear-gradient(top, #638f22 0% ,#486608 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#486608', endColorstr='#486608',GradientType=0 );
    background: linear-gradient(top, #638f22 0% ,#486608 100%);
}

/* ---------------------------------------------- */

/* Botons temes */

.temas {
	width: 75%; 
    height: 30px; 
    margin-bottom: 100px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.temas div {
	float: left;
	padding-right: 20px;
}


.button_tema {
	cursor: pointer;
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: 0.8em 1.4em;
	border: none;
	color: white;
	transition: 0.2s;
}

.button_hide {
	
    cursor: pointer;
    display: none;
	opacity: 0.6;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: 0.8em 1.4em;
	border: none;
	color: white;
	transition: 0.2s;
}


#medi_ambient {
	background-color: #4CAF50; /* Green */
	background-size:cover;

}

#medi_ambient2 {
	background-color: #4CAF50; /* Green */
}
	
#serveis {
	background-color: #008CBA; /* Blue */ 
}

#serveis2 {
	background-color: #008CBA; /* Blue */ 
}
	
#socials {
	background-color: #7d3c98 ; /*Purple*/ 
}

#socials2 {
	background-color: #7d3c98 ; /*Purple*/ 
}
	
#infraestructures {
	background-color: #FFA500; /* Orange */ 
}

#infraestructures2 {
	background-color: #FFA500; /* Orange */ 
}

/* ---------------------------------------------- */


/* Formulari cerca */

form {
    width: 75%;
    margin: auto;
    margin-bottom: 0px;
}

.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}

.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

/* ---------------------------------------------- */


/* Mapa */

#map {
    width: 75%; 
    height: 400px; 
    margin-top: 10px; 
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}

.info-content {
    color: #999;
}

/* ---------------------------------------------- */

/* Search y tabla resultados */

* {
  box-sizing: border-box;
}
/*
.search-button {
	color: #868686;
	}
	*/
#myInputForm {
font-size: 16px;
padding: 12px 20px 12px 20px;
font-family: Arial;
border: 1px solid #ddd;
margin-bottom: 12px;
background-color: #f3f3f3;

}

#myInput {
	background: none;
	border: none !important;
	box-shadow:none !important;
	}

#myUL {
  list-style-type: none;
  padding: 0;
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
  display: none;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.search-icon {
	color: #606060;
	font-size: 27px;
}

/* ---------------------------------------------- */

/* Popup */

 /* Popup container */
.popup {
  position: relative;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 